# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Env files (if you use them in future)
.env

# OS-specific
.DS_Store

# VSCode or JetBrains config
.vscode/
.idea/
